.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(150, 119, 61);
    color: #fafafa;
    height: 10vh;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    padding: 0 1rem;


    h1 {
        font-size: 1.6rem;
    }

    svg {
        font-size: 2rem;
    }
}