*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio {
  border: 5px solid blue;
  height: auto;
  width: 15vw;
}